.nav {
    background-color: rgb(238,238,238);
    overflow: hidden;
    margin: -10px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  border-color: black;
  font-size: 17px;
}

/* Change the color of links on hover */
.nav :hover {
    background-color: #ddd;
    transition: 0.2s;
    color: black;
}


/* Add a color to the active/current link */
.topnav a.active {
  background-color: #;
  color: black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.wrapper {
    display: grid;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #fff4e6;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 200px;
    background-color: rgb(238,238,238);
    padding: 10px 10px 10px; 
    grid-column-gap: 10px;
    grid-row-gap: 1em;
}

.wrapper div {

}

.wrapper {
    text-align: center;
    align-content: center;
    
}

.box{
	width: 500px;
	margin: auto;
	border: 3px solid #4287f5;
}

.box div{
	
}

ul{
    padding-left: 0;
    list-style-position: inside;
}
.button{
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 150px;
    border-radius: 30px;
    border-color: white;
    margin: 4px 2px;
    border: 1px solid black;

}

.button:hover {
        background-color: #54b3d6;
        transition: 0.7s;
  }
/*
.roundedbutton :hover{
    background-color: #ddd;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 150px;
    border-radius: 30px;
    border-color: black;
    margin: 4px 2px;
    border: 1px solid black;

}*/


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align: center;
    
    width: 150px;
    height: 110px;
    padding: 25px 25px 25px 25px;
    margin-bottom: 2px;
    display:inline-block;
}


.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
} 


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 10px 10px;
    margin: 10px 10px 10px 10px;
}

.chall {
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: black;
    font-size: 20px;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    text-decoration-line: underline;
}


.chall:hover {
    box-shadow: inset 5000px 0 0 0 #54b3d6;
    color: white;
}

body {
    background-color: rgb(165, 238, 239);
}


h1 {
    font-size: 35px;
    /*color: rgb(80, 80, 255);*/
    color: #00007D;
    text-align: center;

}

.wrapper
-cv{
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.a {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .b {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .c {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .d {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .e {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .f {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
